[authn."iam.example.net"]
audience = "example.net"
algorithm = "HS256"
key = "data/keys/iam.key.binary.sample"

[authz."example.net"]
uri = "https://iam.example.net/authz"
token = "secret"
type = "http"

[id]
lable = "storage"
audience = "example.org"

[cors]
allow_origins = "*"
max_age = 86400