id = "storage.svc.example.org"

[authn."iam.svc.example.net"]
audience = ["usr.example.net"]
algorithm = "HS256"
key = "data/keys/iam.key.binary.sample"

[authz."example.net"]
type = "http"
uri = "https://iam.svc.example.net/authz"
algorithm = "ES256"
key = "data/keys/svc.private_key.p8.der.sample"

[cors]
allow_origins = "*"
max_age = 86400